<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{selectedCourse.title || "Select a course"}}
        </mat-card-title>
    </mat-card-header>

    <form  #form="ngForm" (submit)="save.emit(form); form.resetForm()">

        <mat-card-content>

            <mat-form-field>
                <mat-label>Title</mat-label>
                <input
                    name="title"
                    matInput 
                    [(ngModel)]="selectedCourse.title" 
                    type="text" 
                    placeholder="Title"
                    required
                >
            </mat-form-field>

            <mat-form-field>
                <mat-label>Description</mat-label>
                <input
                    name="description"
                    matInput 
                    [(ngModel)]="selectedCourse.description" 
                    type="text" 
                    placeholder="Description"
                >
            </mat-form-field>

            <article>
                <mat-slider
                    thumbLabel
                    tickInterval="1"
                    [displayWith]="formatLabel"
                    min="1"
                    max="100"
                    name="percentComplete"
                    [(ngModel)]="selectedCourse.percentComplete"
                >

                </mat-slider>
            </article>

            <article>
                <mat-slide-toggle
                    [(ngModel)]="selectedCourse.favorite"
                    name="favorite"
                >

                </mat-slide-toggle>
            </article>
            
        </mat-card-content>
        <mat-card-actions>

        <button [disabled]="form.invalid" type="submit" color="primary" mat-raised-button>Save</button>

        </mat-card-actions>

    </form>

</mat-card>